<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" >

<body layout:fragment="body">
  <form th:action="@{/tags/create-tag}" th:object="${tagObj}" method="POST">
    <div class="mb-3">
      <label for="tagId" class="form-label">Tag Id</label>
      <input type="text" class="form-control" id="tagId" th:field="*{tagId}">
      <span th:if="${tagIdError}" th:text="${tagIdError}"></span>
    </div>
    <div class="mb-3">
      <label for="tagName" class="form-label">Tag Name</label>
      <input type="text" class="form-control" id="tagName" th:field="*{tagName}">
      <span th:if="${tagNameError}" th:text="${tagNameError}"></span>
    </div>
    <div class="mb-3">
      <label for="tagDetails" class="form-label">Tag Details</label>
      <input type="text" class="form-control" id="tagDetails" th:field="*{tagDetails}">
      <span th:if="${tagDetailsError}" th:text="${tagDetailsError}"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="Create">
  </form>

</body>
</html>