<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" >

<body layout:fragment="body">
    <div class="container-fluid p-0">
        <img src="https://img.freepik.com/free-vector/businessmans-hand-holding-question-mark-person-asking-answer-help-support-flat-vector-illustration-faq-interrogation-difficulty-concept-banner-website-design-landing-web-page_74855-24358.jpg" alt="Banner Image" class="img-fluid">
        <div class="banner-text">
            <h1 class="text-center text-white">Welcome to Q&A Website</h1>
            <p class="text-center text-white">Explore and Discover Something Amazing</p>
        </div>
    </div>
</body>
</html>