<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" >

<!--<div th:replace="layout :: auth_side_panel(loggedInUser=${loggedInUser})">-->
<!--    <div th:if="${user}">-->
<!--        <span th:text="Hello, ${user.displayName}"></span>-->
<!--    </div>-->
<!--    <div th:unless="${user}">-->
<!--        <a th:href="@{/users/login}" class="btn btn-info">Log in</a>-->
<!--        <a th:href="@{/users/create-new-user}" class="btn btn-success">Sign up</a>-->
<!--    </div>-->
<!--    <div th:if="${user}">-->
<!--        <span th:text="'Hello, ' + ${user.displayName}"></span>-->
<!--    </div>-->
<!--    <div th:unless="${user}">-->
<!--        <a th:href="@{/users/login}" class="btn btn-info">Log in</a>-->
<!--        <a th:href="@{/users/create-new-user}" class="btn btn-success">Sign up</a>-->
<!--    </div>-->

<!--</div>-->

<body layout:fragment="body">
    <div class="container-fluid p-0">
        <div>
            <img th:src="@{/images/banner.jpg}" style="width: 100%; height: 100vh; background-position: center; color: #fff; justify-content: center; align-items: center; background-size: cover;">
        </div>
    </div>
</body>
</html>