<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body layout:fragment="body">
  <span class="error_field" th:if="${userIsNotLoggedIn}" th:text="${userIsNotLoggedIn}"></span>
  <div class="row justify-content-center align-items-center" style="height:80vh;">
    <div class="col-md-6">

      <form id="msform" th:action="@{/users/login}" th:object="${userObj}" method="POST">

        <fieldset>
          <h2 class="fs-title">Login</h2>
          <div class="mb-3">
            <label for="email" class="form-label" >Email</label>
            <input type="text" class="form-control" id="email" th:field="*{emailAddress}">
            <span class="error_field" th:if="${emailAddressError}" th:text="${emailAddressError}"></span>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label" >Password</label>
            <input type="password" class="form-control" id="password" th:field="*{password}">
            <span class="error_field" th:if="${passwordError}" th:text="${passwordError}"></span>
          </div>
          <span class="d-block error_field" th:if="${validationError}" th:text="${validationError}"></span>

          <input type="submit" name="login" class="next action-button" value="Login"/>
        </fieldset>

      </form>

    </div>
  </div>
</body>
</html>