<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body layout:fragment="body">
<form th:action="@{/users/login}" th:object="${userObj}" method="POST">

  <div class="mb-3">
    <label for="userId" class="form-label">User ID</label>
    <input type="text" class="form-control" id="userId" th:field="*{userId}">
    <span class="error_field" th:if="${userIdError}" th:text="${userIdError}"></span>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" th:field="*{password}">
    <span class="error_field" th:if="${passwordError}" th:text="${passwordError}"></span>
  </div>
  <span class="d-block error_field" th:if="${validationError}" th:text="${validationError}"></span>
  <input type="submit" class="btn btn-primary" value="Log in">

</form>

</body>
</html>