<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" >

<body layout:fragment="body">
    <div class="my-3 d-flex justify-content-between">
        <h3 class="text-center">All Questions</h3>
        <a th:href="@{/questions/ask-new-question}">
            <button class="btn btn-lg btn-outline-success text-white bg-primary rounded">Ask Question</button>
        </a>
    </div>

    <div class="question-container p-4" th:each="question: ${questions}">
        <div class="row">
            <div class="col-md-2 user-info">
                <div class="user-details">
                    <img th:if="${question.user.userProfilePictureName}" th:src="@{'/images/' + ${question.user.userProfilePictureName}}" alt="User Profile">
                    <img th:unless="${question.user.userProfilePictureName}" src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="User Profile">
                    <span class="text-muted" th:text="${question.user.displayName}" ></span>
                </div>
            </div>
            <div class="col-md-10">
                <a class="question-title" th:href="@{/questions/{questionId}/answers(questionId=${question.getQuestionId()})}" th:text="${question.questionTitle}"></a>
                <div class="question-tags mb-2">
                    <span class="badge text-bg-dark" th:each="tag: ${question.getTagList()}" th:text="${tag.getTagName()}"></span>
                </div>
                <div class="question-info">
                    <span class="badge text-bg-success">5 votes</span>
                    <span class="badge text-bg-primary">3 answers</span>
                    <span class="badge text-bg-info">10 views</span>
                    <span class="float-end">5 minutes ago</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>