<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body layout:fragment="body">
<form th:action="@{/users/create-new-user}" th:object="${userObj}" method="POST">
    <div class="mb-3">
        <label for="userid" class="form-label">User Id</label>
        <input type="text" class="form-control" id="userid" th:field="*{userId}">
        <span class="error_field" th:if="${userIdError}" th:text="${userIdError}"></span>
    </div>
    <div class="mb-3">
        <label for="displayname" class="form-label">User Name</label>
        <input type="text" class="form-control" id="displayname" th:field="*{displayName}">
        <span class="error_field" th:if="${displayNameError}" th:text="${displayNameError}"></span>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input type="email" class="form-control" id="email" th:field="*{emailAddress}">
        <span class="error_field" th:if="${emailAddressError}" th:text="${emailAddressError}"></span>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" th:field="*{password}">
        <span class="error_field" th:if="${passwordError}" th:text="${passwordError}"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="Create Account">
</form>

</body>
</html>