<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body layout:fragment="body">

    <div class="row justify-content-center align-items-center" style="height: 80vh;">
        <div class="col-md-6">
            <form id="msform" th:action="@{/users/create-new-user}" th:object="${userObj}" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <h2 class="fs-title">Sign Up</h2>
                    <div class="mb-3">
                        <label for="displayname" class="form-label">User Name</label>
                        <input type="text" class="form-control" id="displayname" th:field="*{displayName}">
                        <span class="error_field" th:if="${#fields.hasErrors('displayName')}" th:errors="*{displayName}"></span>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="email" th:field="*{emailAddress}">
                        <span class="error_field" th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"></span>

                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" th:field="*{password}">
                        <span class="error_field" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

                    </div>

                    <div class="mb-3">
                        <label for="profilepicture" class="form-label">Avatar</label>
                        <input type="file" class="form-control" id="profilepicture" name="profile">
                        <span class="error_field" th:if="${profilePictureError}" th:text="${profilePictureError}"></span>
                    </div>
                    <input type="submit" class="next action-button" value="Create Account">
                </fieldset>
            </form>
        </div>
    </div>

</body>
</html>