<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" >

<body layout:fragment="body">
  <div class="my-3 d-flex justify-content-between">
    <h3 class="text-center">Users</h3>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search by user" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>


<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" th:each="user: ${users.entrySet()}">
      <div class="card h-100">
<!--          <img th:src="@{/images/Joardar.png}" class="card-img-top mt-2 mx-auto d-block" alt="Profile image not found" style="width: 200px;height: 200px;">-->
<!--          <img th:src="@{/images/{picName}(picName = ${user.value.getUserProfilePictureName()})}" alt="Profile image not found" style="width: 200px;height: 200px;">-->
          <div th:if="${user.value.userProfilePicture}">
              <img th:src="@{'/images/' + ${user.value.userProfilePicture.originalFilename}}" class="card-img-top mt-2 mx-auto d-block" style="width: 200px; height: 200px; border: solid 3px #666666; border-radius: 50%;" alt="Profile image not found" >
          </div>
          <div th:unless="${user.value.userProfilePicture}">
              <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="card-img-top mt-2 mx-auto d-block" alt="Profile image not found" style="width: 200px; height: 200px; border: solid 3px #666666; border-radius: 50%;">
          </div>

          <div class="card-body">


          <h5 class="card-title" th:text="${user.value.displayName}"></h5>
          <p class="card-text" th:text="${user.value.emailAddress}"></p>
          <p class="card-text">
<!--            <small th:text="${user.location}"></small>-->
          </p>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Created 5 mins ago</small>
        </div>
      </div>
    </div>

  </div>
</body>
</html>